{% extends "layout.html" %}
{% set active_page = "family" %}

{% block heading %}
  Frøyas web application
{% endblock %}

{% block body %}

    <p> Here I would like to keep pictures of my family </p>


        <img src="https://lh3.googleusercontent.com/T1uFGET1G1fjwE1Ctnc67eU0YwvySNbmjpu82W38KQUqd3r79v6S49A6W4h-djKm-yAWOG6qYh3O4t8BUPtBjVcb30pOx58NPf6yL4uYzsZPEuk5yJHe_GCcB8dITB6ra_-62-oeQbQ=w2400" width="30%"/>
        <img src="https://lh3.googleusercontent.com/K-dQBEfZ53Q0r-EHrMrDO3Dw5b58s_o8qkkBRGMMvKy0KvGnnpvZn8bCIU4jQQijHmGp-658pq9dmGKmKoxB_2RAvk3o9STxo50qrmjGTS8mehsAvyYb_53AknV61yCu53ybDWKo7Mw=w2400" width="30%"/>
        <img src="https://lh3.googleusercontent.com/qZtnG4N3OXV6tQDY6RZ9uzYXSPQe0f3f5nMaGOavSFqWflLZd8coND2htpTUdTk90jrcYhD279DD50Lby__XrfsBUMaU4DbT1wlI91gZhdKOienkyTCDMaPnUhr6VkL9iFmBQBGdNcA=w2400" width="30%"/>
        <img src="https://lh3.googleusercontent.com/LEkcyI0Vfzd7r_3ZsLhrvSk68yYUEydeS7JkQOpPMDyB3rspmBdvCj2My1Bt507Dzc738vLzV7RStgPXoA9MNSHUHRZuFavfsGXKrwpPAiC1UXm7eddxrtWjdXibNnb_ND_wsNeYZrw=w2400" width="30%"/>
        <img src="https://lh3.googleusercontent.com/q6a7J_76I1COuXCVDDhv4Y7y2A-DGHMdS1nwvOlN2a-GuUWrZ4KXWS_b_UO9gOYrLGX6FdX5GNSL2knwLu4gGbjyb4UCh254F3kYvrH3jbWdC-P2ZG283XXwuH3YIwGOFOY1-1Lrj3E=w2400" width="30%"/>
{% endblock %}
